body {
    display: grid;
    grid-template-columns: 1fr 60vw 1fr;
    grid-template-rows: 10vh 1fr;
    grid-template-areas: "head head head"
    "left center right";
    position: relative;
    
    color: var(--text-color);
    background-color: var(--background);
}

#menu {
    margin-top: 0;
    
}

.head {
    grid-area: head;
}
.center {
    grid-area: center;
}
.right {
    grid-area: right;
}

#menu {
    margin-left: 50px;
}

#appearance {
    height: 80vh;
    margin: 0px;
    margin-left: 50px;
    position: sticky;
    top: 0;
}

#title {
    border-bottom: 4px solid;
}

.info {
    font-size: 18px;
}

#intro {
    margin: 0;
}

.topic {
    border-bottom: 3px solid;
}

.link {
    color: blue;
    text-decoration: none;
}

.link:hover {
    cursor: pointer;
}

img {
    height: 30vh;
    width: auto;
    float: inline-end;
    margin-left: 10px;
}


.btn {
    margin: 10px;
    color: blue;
    text-decoration: none;
}

.btn:hover {
    cursor: pointer;
}


#appearance {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: fit-content;
}

#TableofContents {
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 0;
    position: sticky;
    top: 0;
}

#refrences {
    border-bottom: 3px solid;
}

:root {
    --background: white;
    --text-color: black;
}
.DarkMode {
    --background: rgb(35, 35, 35);
    --text-color: white;
}
